// -- Minimal Reset by https://alligator.io/css/minimal-css-reset/

html {
    box-sizing: border-box;
    }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  html, body { height: 100%;
    // line-height: 1.5;
}
  //line-height was necessary to get chrome/brave to the same place as firefox which looked normal at default state
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    //font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  


